In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50
import matplotlib.pyplot as pyplot
%matplotlib inline
import seaborn as sns
import sklearn

## Load in `.csv` file

In [2]:
df = pd.read_csv('data/extracted/crime-data-from-2010-to-present.csv')

In [3]:
df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."

In [4]:
df.shape

(1993259, 26)

## Converting `date occured` to time series index

In [5]:
# removing empty time stamp from Date Reported and Date Ocurred
df["Date Reported"] = df["Date Reported"].str.replace('T00:00:00', '')
df["Date Occurred"] = df["Date Occurred"].str.replace('T00:00:00', '')

In [6]:
# setting 'date occured' column as datetime object
df['Date Occurred'] = pd.to_datetime(df['Date Occurred'], format= '%Y-%m-%d')

In [7]:
df = df.set_index('Date Occurred').sort_index()

In [8]:
# checking that it all worked
df.head(3)

,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
Date Occurred,,,,,,,,,,,,,,,,,,,,,,,,,
2010-01-01,102120693,2010-11-17,1117,21,Topanga,2156,354,THEFT OF IDENTITY,0928 1822,21,M,H,404.0,DEPARTMENT STORE,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,21800 VICTORY BL,NaN,"{'latitude': '34.1875', 'needs_recoding': Fals..."
2010-01-01,100504041,2010-01-02,2130,5,Harbor,563,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,0,NaN,NaN,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,900 W 8TH ST,NaN,"{'latitude': '33.737', 'needs_recoding': False..."
2010-01-01,100504042,2010-01-02,1600,5,Harbor,519,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1400 E O ST,NaN,"{'latitude': '33.7926', 'needs_recoding': Fals..."

## Data Cleaning
Now that we have the dataframe converted to a format for time series analysis, we can do basic data cleaning steps.

In [9]:
# checking for null values
df.isna().sum()

DR Number                       0
Date Reported                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description          0
MO Codes                   215872
Victim Age                      0
Victim Sex                 185960
Victim Descent             186006
Premise Code                   50
Premise Description           135
Weapon Used Code          1325641
Weapon Description        1325642
Status Code                     3
Status Description              0
Crime Code 1                    9
Crime Code 2              1863098
Crime Code 3              1990024
Crime Code 4              1993163
Address                         0
Cross Street              1659507
Location                        0
dtype: int64

In [10]:
# dropping columns with a majority of missing values
df = df.drop(axis=1, columns=['MO Codes', 
                              'Weapon Used Code', 
                              'Weapon Description', 
                              'Crime Code 1', # same as feature 'Crime Code', can be easily dropped
                              'Crime Code 2', 
                              'Crime Code 3', 
                              'Crime Code 4', 
                              'Cross Street',
                             'Date Reported'])

In [11]:
victim_demo = ['Victim Age', 'Victim Sex', 'Victim Descent']
geog_area= ['Area ID', 'Area Name']
Crime = ['Crime Code', 'Crime Description']

In [12]:
df.isna().sum()

DR Number                      0
Time Occurred                  0
Area ID                        0
Area Name                      0
Reporting District             0
Crime Code                     0
Crime Code Description         0
Victim Age                     0
Victim Sex                185960
Victim Descent            186006
Premise Code                  50
Premise Description          135
Status Code                    3
Status Description             0
Address                        0
Location                       0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1993259 entries, 2010-01-01 to 2019-06-22
Data columns (total 16 columns):
DR Number                 int64
Time Occurred             int64
Area ID                   int64
Area Name                 object
Reporting District        int64
Crime Code                int64
Crime Code Description    object
Victim Age                int64
Victim Sex                object
Victim Descent            object
Premise Code              float64
Premise Description       object
Status Code               object
Status Description        object
Address                   object
Location                  object
dtypes: float64(1), int64(6), object(9)
memory usage: 258.5+ MB

Looks like the 2019 Date reported values have been mistyped and input. May end up dropping this feature.

In [14]:
df['Premise Code'].fillna(0, inplace = True)
df['Premise Description'].fillna('UNKNOWN', inplace = True)
df['Status Code'].fillna('UNK', inplace = True)

In [15]:
df.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code
count,1993259.00000,1993259.00000,1993259.00000,1993259.00000,1993259.00000,1993259.00000,1993259.00000
mean,145268085.51049,1361.52226,11.10423,1156.81916,506.92094,31.78082,311.15603
std,27591418.13650,646.73725,6.00733,600.73388,210.47090,20.60810,211.03603
min,210.00000,1.00000,1.00000,100.00000,110.00000,-9.00000,0.00000
25%,121204059.50000,930.00000,6.00000,644.00000,330.00000,20.00000,102.00000
50%,150206637.00000,1430.00000,12.00000,1203.00000,441.00000,32.00000,210.00000
75%,170710205.00000,1900.00000,16.00000,1672.00000,626.00000,46.00000,501.00000
max,910220366.00000,2359.00000,21.00000,2199.00000,956.00000,118.00000,971.00000

In [16]:
df['Victim Sex'].value_counts()

M    920405
F    840397
X     46409
H        70
N        17
-         1
Name: Victim Sex, dtype: int64

In [17]:
df['Victim Sex'].replace(to_replace=['H', '-', 'N'], value='X', inplace = True)
df['Victim Sex'].fillna('X', inplace= True)

In [18]:
df['Victim Sex'].unique()

array(['M', 'X', 'F'], dtype=object)

In [19]:
# df[(df['Victim Age'] < 0) | (df['Victim Age'] >= 80)]
df[df['Victim Age'] < 0]['Victim Age'].count()

465

In [20]:
df['Victim Age'] = np.where((df['Victim Age'] < 0), 0,df['Victim Age'])

In [21]:
df['Victim Age'].isna().sum()

0

In [22]:
df['Victim Descent'].value_counts()

H    685420
W    483035
B    316944
O    191600
X     68234
A     47941
K      8703
F      2358
C       884
I       872
J       352
P       326
U       183
V       150
Z       102
G        79
S        31
D        21
L        15
-         3
Name: Victim Descent, dtype: int64

In [23]:
descent_dict ={'A': 'Other Asian', 'B': 'Black', 'C': 'Chinese',
               'D': 'Cambodian', 'F': 'Filipino', 'G': 'Guamanian',
               'H': 'Latinx', 'I': 'Native', 'J': 'Japanese', 
               'K': 'Korean', 'L': 'Laotian', 'O': 'Other',
               'P': 'Pacific Islander', 'S': 'Samoan', 'U': 'Hawaiian',
               'V': 'Vietnamese', 'W': 'White',  'X': 'Unknown', 'Z':'Asian Indian'}
df['Victim Descent'].fillna('X', inplace= True)

In [24]:
df['Victim Descent'].replace(to_replace=['-'], value='X', inplace = True)

In [25]:
df.isna().sum()

DR Number                 0
Time Occurred             0
Area ID                   0
Area Name                 0
Reporting District        0
Crime Code                0
Crime Code Description    0
Victim Age                0
Victim Sex                0
Victim Descent            0
Premise Code              0
Premise Description       0
Status Code               0
Status Description        0
Address                   0
Location                  0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1993259 entries, 2010-01-01 to 2019-06-22
Data columns (total 16 columns):
DR Number                 int64
Time Occurred             int64
Area ID                   int64
Area Name                 object
Reporting District        int64
Crime Code                int64
Crime Code Description    object
Victim Age                int64
Victim Sex                object
Victim Descent            object
Premise Code              float64
Premise Description       object
Status Code               object
Status Description        object
Address                   object
Location                  object
dtypes: float64(1), int64(6), object(9)
memory usage: 258.5+ MB

In [27]:
df[df['Time Occurred'] < 100]

,DR Number,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Status Code,Status Description,Address,Location
Date Occurred,,,,,,,,,,,,,,,,
2010-01-01,100204011,50,2,Rampart,256,220,ATTEMPTED ROBBERY,16,M,H,102.0,SIDEWALK,AA,Adult Arrest,8TH ST,"{'latitude': '34.0549', 'needs_recoding': Fals..."
2010-01-01,100204018,30,2,Rampart,249,624,BATTERY - SIMPLE ASSAULT,29,F,H,203.0,OTHER BUSINESS,IC,Invest Cont,1200 W 5TH ST,"{'latitude': '34.0541', 'needs_recoding': Fals..."
2010-01-01,100204019,10,2,Rampart,257,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",44,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,1300 INGRAHAM ST,"{'latitude': '34.0531', 'needs_recoding': Fals..."
2010-01-01,100708906,1,7,Wilshire,743,354,THEFT OF IDENTITY,68,F,A,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,5800 SAN VICENTE BL,"{'latitude': '34.0552', 'needs_recoding': Fals..."
2010-01-01,100708442,1,7,Wilshire,745,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",26,M,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,5600 WILSHIRE BL,"{'latitude': '34.0624', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-22,191610620,20,16,Foothill,1613,626,INTIMATE PARTNER - SIMPLE ASSAULT,36,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,12700 VAN NUYS BL,"{'latitude': '34.2753', 'needs_recoding': Fals..."
2019-06-22,190811604,1,8,West LA,817,354,THEFT OF IDENTITY,30,F,O,101.0,STREET,IC,Invest Cont,900 HILGARD AV,"{'latitude': '34.0617', 'needs_recoding': Fals..."
2019-06-22,191610688,10,16,Foothill,1659,330,BURGLARY FROM VEHICLE,21,F,H,101.0,STREET,IC,Invest Cont,9700 AMANITA AV,"{'latitude': '34.2438', 'needs_recoding': Fals..."
2019-06-22,191814725,15,18,Southeast,1829,626,INTIMATE PARTNER - SIMPLE ASSAULT,33,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,2100 E 97TH ST,"{'latitude': '33.9482', 'needs_recoding': Fals..."
2019-06-22,190315339,30,3,Southwest,361,310,BURGLARY,23,M,H,707.0,GARAGE/CARPORT,IC,Invest Cont,4900 COLISEUM ST,"{'latitude': '34.0183', 'needs_recoding': Fals..."

In [28]:
df['Crime Code Description'].value_counts().count()

140

In [29]:
df.nunique()

DR Number                 1993259
Time Occurred                1439
Area ID                        21
Area Name                      21
Reporting District           1294
Crime Code                    140
Crime Code Description        140
Victim Age                    101
Victim Sex                      3
Victim Descent                 19
Premise Code                  325
Premise Description           320
Status Code                    10
Status Description              6
Address                     74330
Location                    63249
dtype: int64

In [30]:
def dictionary_maker(key_feature, value_feature):
    '''
    this function takes in two features
    and returns a dictionary with the unique values
    from the two features as key and values
    '''
    # dictionary key
    key= list(df[key_feature].value_counts().index)
    
    #dictionary value
    value= list(df[value_feature].value_counts().index)
    
    #dictionary
    dictionary = {key[i]:value[i] for i in range(len(key))}
    
    return dictionary

def pickle_dictionary(dict_to_pickle, pickled_dict_name):
    '''
    Pickles a dictionary object 
    '''
    pickle_out = open(pickled_dict_name,"wb")
    pickle.dump(dict_to_pickle, pickle_out)
    pickle_out.close()


# pickle_in = open("dict.pickle","rb")
# example_dict = pickle.load(pickle_in)

In [31]:
area_dict = dictionary_maker('Area ID', 'Area Name')
crime_dict = dictionary_maker('Crime Code', 'Crime Code Description')
# premise_dict =

In [32]:
df['Premise Description'].isna().any()

False

In [33]:
df['Status Code'].value_counts()

IC     1538964
AO      229649
AA      204515
JA       15193
JO        4907
CC          25
UNK          3
19           1
TH           1
13           1
Name: Status Code, dtype: int64

In [34]:
df['Status Code'].replace(to_replace=['CC', 'TH', '19', '13'], value='UNK', inplace = True)

In [35]:
df['Status Description'].value_counts()

Invest Cont     1538964
Adult Other      229649
Adult Arrest     204515
Juv Arrest        15193
Juv Other          4907
UNK                  31
Name: Status Description, dtype: int64

In [36]:
status_dict = dictionary_maker('Status Code', 'Status Description')

In [37]:
pd.set_option('display.max_rows', None)
# df['Premise Code'].value_counts()
df[df['Premise Code']== 967]

,DR Number,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Status Code,Status Description,Address,Location
Date Occurred,,,,,,,,,,,,,,,,
2017-06-02,170115839,120,1,Central,111,350,"THEFT, PERSON",26,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,ALAMEDA,"{'latitude': '34.0615', 'needs_recoding': Fals..."
2017-07-03,170118828,1930,1,Central,111,440,THEFT PLAIN - PETTY ($950 & UNDER),37,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2017-10-27,170128107,2315,1,Central,111,624,BATTERY - SIMPLE ASSAULT,41,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1ST ST,"{'latitude': '34.0615', 'needs_recoding': Fals..."
2017-11-22,170130221,2100,1,Central,111,480,BIKE - STOLEN,52,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2017-11-30,170130744,1600,1,Central,111,624,BATTERY - SIMPLE ASSAULT,56,M,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2017-12-26,170132653,1705,1,Central,111,624,BATTERY - SIMPLE ASSAULT,18,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2018-02-16,180307134,1930,3,Southwest,334,902,VIOLATION OF TEMPORARY RESTRAINING ORDER,51,F,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,3400 S BRONSON AV,"{'latitude': '34.0256', 'needs_recoding': Fals..."
2018-02-28,180108707,1730,1,Central,111,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,M,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2018-05-09,180113331,715,1,Central,111,860,BATTERY WITH SEXUAL CONTACT,48,F,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2018-07-16,180119129,1200,1,Central,118,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",33,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,ALAMEDA,"{'latitude': '34.0635', 'needs_recoding': Fals..."
2018-08-17,180121605,1950,1,Central,111,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2018-12-03,180129460,1735,1,Central,111,624,BATTERY - SIMPLE ASSAULT,51,F,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,"{'latitude': '34.0624', 'needs_recoding': Fals..."
2019-02-04,190106657,2200,1,Central,111,624,BATTERY - SIMPLE ASSAULT,48,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,COLLEGE ST,"{'latitude': '34.0637', 'needs_recoding': Fals..."

In [38]:
df['Premise Description'].value_counts()
# df[df['Premise Description']=='UNKNOWN']

                                                  2627
LIBRARY                                                              2525
NURSING/CONVALESCENT/RETIREMENT HOME                                 2424
AUTO REPAIR SHOP                                                     2290
STORAGE SHED                                                         2188
COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)                   2110
SPECIALTY SCHOOL/OTHER                                               2084
WAREHOUSE                                                            1932
BEAUTY/BARBER SHOP                                                   1906
GROUP HOME                                                           1772
MTA BUS                                                              1712
DISCOUNT STORE (99 CENT,DOLLAR,ETC.                                  1613
MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME            1487
HARDWARE/BUILDING SUPPLY                                             1462
MISSIONS/SHELTERS                                                    1393
BEACH                                                                1373
PROJECT/TENEMENT/PUBLIC HOUSING                                      1286
BAR/SPORTS BAR (OPEN DAY & NIGHT)                                    1236
CHECK CASHING*                                                       1199
MEMBERSHIP STORE (COSTCO,SAMS CLUB)*                                 1126
AUTO SALES LOT                                                       1077
THEATRE/MOVIE                                                         974
JEWELRY STORE                                                         945
MEDICAL MARIJUANA FACILITIES/BUSINESSES                               932
PRIVATE SCHOOL/PRESCHOOL                                              905
FREEWAY                                                               898
CAR WASH                                                              897
AUTOMATED TELLER MACHINE (ATM)                                        892
AUTO SUPPLY STORE*                                                    795
PATIO*                                                                727
BEAUTY SUPPLY STORE                                                   646
APARTMENT/CONDO COMMON LAUNDRY ROOM                                   629
PHARMACY INSIDE STORE OR SUPERMARKET*                                 607
TOBACCO SHOP                                                          594
NAIL SALON                                                            590
MAIL BOX                                                              573
VACANT LOT                                                            552
DODGER STADIUM                                                        545
BUS STOP/LAYOVER (ALSO QUERY 124)                                     536
PUBLIC RESTROOM(INDOORS-INSIDE)                                       536
THE GROVE                                                             517
ELECTRONICS STORE (IE:RADIO SHACK, ETC.)                              515
DETENTION/JAIL FACILITY                                               487
THE BEVERLY CONNECTION                                                464
SLIPS/DOCK/MARINA/BOAT                                                462
BUS-CHARTER/PRIVATE                                                   453
FRAT HOUSE/SORORITY/DORMITORY                                         451
SWAP MEET                                                             444
TRANSITIONAL HOUSING/HALFWAY HOUSE                                    441
PUBLIC RESTROOM/OUTSIDE*                                              439
CONVENTION CENTER                                                     421
POST OFFICE                                                           420
CLEANER/LAUNDROMAT                                                    417
RECYCLING CENTER                                                      391
LA UNION STATION (NOT LINE SPECIFIC)                                  382
MANUFACTURING COMPANY                                                 377
BUS, SCHOOL, CHURCH                                                   371
THE BEVERLY CENTER                                                    361
SYNAGOGUE/TEMPLE                                                      353
SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS                          352
TOW YARD*                                                             349
TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*                            340
MASSAGE PARLOR                                                        339
AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)                    320
TV/RADIO/APPLIANCE                                                    312
ENTERTAINMENT/COMEDY CLUB (OTHER)                                     310
COMPUTER SERVICES/REPAIRS/SALES                                       292
AIRCRAFT                                                              286
MTA PROPERTY OR PARKING LOT                                           285
STUDIO (FILM/PHOTOGRAPHIC/MUSIC)                                      283
ABANDONED BUILDING ABANDONED HOUSE                                    273
BALCONY*                                                              272
NURSERY/FLOWER SHOP                                                   270
BUS DEPOT/TERMINAL, OTHER THAN MTA                                    269
SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB                   267
PET STORE                                                             263
PEDESTRIAN OVERCROSSING                                               256
STAIRWELL*                                                            248
GUN/SPORTING GOODS                                                    247
POOL-PUBLIC/OUTDOOR OR INDOOR*                                        236
GOLF COURSE*                                                          232
DAY CARE/CHILDREN*                                                    230
PAWN SHOP                                                             224
ELEVATOR                                                              219
TERMINAL, OTHER THAN MTA                                              215
STAPLES CENTER *                                                      214
FACTORY                                                               210
VISION CARE FACILITY*                                                 203
TAXI                                                                  198
FIRE STATION                                                          196
TRANSIENT ENCAMPMENT                                                  189
BOWLING ALLEY*                                                        179
COLISEUM                                                              176
TRAIN DEPOT/TERMINAL, OTHER THAN MTA                                  175
CEMETARY*                                                             170
DAY CARE/ADULTS*                                                      166
MTA - RED LINE - UNION STATION                                        159
TATTOO PARLOR*                                                        155
DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*             154
MUSEUM                                                                153
MTA - RED LINE - WESTLAKE/MACARTHUR PARK                              152
DRIVE THRU*                                                           151
METROLINK TRAIN                                                       147
FOSTER HOME BOYS OR GIRLS*                                            146
MTA - RED LINE - NORTH HOLLYWOOD                                      145
FURNITURE STORE                                                       142
MUNICIPAL BUS LINE INCLUDES LADOT/DASH                                138
UNKNOWN                                                               135
EQUIPMENT RENTAL                                                      135
TRAIN TRACKS                                                          132
OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*                           131
MTA - RED LINE - 7TH AND METRO CENTER                                 131
UNDERPASS/BRIDGE*                                                     131
RIVER BED*                                                            123
SKATEBOARD FACILITY/SKATEBOARD PARK*                                  120
CREDIT UNION                                                          120
MTA - RED LINE - HOLLYWOOD/VINE                                       118
TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)                        104
MTA - RED LINE - HOLLYWOOD/HIGHLAND                                   100
MTA - EXPO LINE - EXPO/WESTERN                                         99
SPORTS VENUE, OTHER                                                    99
CYBERSPACE                                                             98
MOSQUE*                                                                89
VALET                                                                  89
MTA - RED LINE - PERSHING SQUARE                                       87
GREYHOUND OR INTERSTATE BUS                                            84
SAVINGS & LOAN                                                         83
TOOL SHED*                                                             83
SPORTS ARENA                                                           82
VIDEO RENTAL STORE                                                     80
ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*                 78
VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)        74
VETERINARIAN/ANIMAL HOSPITAL                                           73
OTHER RR TRAIN (UNION PAC, SANTE FE ETC                                72
TELECOMMUNICATION FACILITY/LOCATION                                    72
OTHER PLACE OF WORSHIP                                                 71
WEBSITE                                                                67
MTA - BLUE LINE - 7TH AND METRO CENTER                                 66
MTA - RED LINE - WILSHIRE/VERMONT                                      64
MTA - RED LINE - VERMONT/SANTA MONICA                                  62
MTA - RED LINE - VERMONT/BEVERLY                                       61
GARMENT MANUFACTURER                                                   61
7TH AND METRO CENTER (NOT LINE SPECIFIC)                               60
FINANCE COMPANY                                                        60
RECORD-CD MUSIC/COMPUTER GAME STORE                                    60
MTA - EXPO LINE - EXPO/VERMONT                                         58
HOSPICE                                                                58
CATERING/ICE CREAM TRUCK                                               57
MTA - EXPO LINE - EXPO/CRENSHAW                                        56
SHORT-TERM VACATION RENTAL                                             56
MTA - RED LINE - VERMONT/SUNSET                                        55
MORTUARY                                                               55
BOOK STORE                                                             54
TUNNEL                                                                 53
MTA - EXPO LINE - LA CIENEGA/JEFFERSON                                 45
MTA - EXPO LINE - EXPO/LA BREA                                         45
BASKETBALL COURTS                                                      44
MTA - EXPO LINE - 7TH AND METRO CENTER                                 44
MTA - RED LINE - HOLLYWOOD/WESTERN                                     44
MTA - EXPO LINE - FARMDALE                                             43
MTA - BLUE LINE - 103RD/WATTS TOWERS                                   43
MASS GATHERING LOCATION                                                42
MTA - GREEN LINE - HARBOR FWY                                          39
OIL REFINERY                                                           39
MTA - GREEN LINE - AVALON                                              39
MTA - RED LINE - CIVIC CENTER/GRAND PARK                               38
MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY                            36
MTA - BLUE LINE - WASHINGTON                                           36
MTA - EXPO LINE - EXPO/BUNDY                                           36
MTA - EXPO LINE - JEFFERSON/USC                                        35
WATER FACILITY                                                         35
MTA - EXPO LINE - EXPO/SEPULVEDA                                       34
MTA - EXPO LINE - EXPO PARK/USC                                        34
SKATING RINK*                                                          34
REDLINE SUBWAY PLATFORM                                                32
MTA - BLUE LINE - PICO                                                 30
PAY PHONE                                                              30
MTA - GOLD LINE - UNION STATION                                        30
MTA - ORANGE LINE - NORTH HOLLYWOOD                                    30
MTA - GOLD LINE - MARIACHI PLAZA                                       28
TRUCK, COMMERICAL                                                      27
BANKING INSIDE MARKET-STORE *                                          27
AMUSEMENT PARK*                                                        26
ABORTION CLINIC/ABORTION FACILITY*                                     26
REDLINE ENTRANCE/EXIT                                                  26
MTA - ORANGE LINE - VAN NUYS                                           25
MTA - PURPLE LINE - UNION STATION                                      25
MTA - PURPLE LINE - WILSHIRE/VERMONT                                   24
MTA - PURPLE LINE - WILSHIRE/WESTERN                                   23
MTA - EXPO LINE - LATTC/ORTHO INSTITUTE                                23
MTA - EXPO LINE - PALMS                                                22
AMTRAK TRAIN                                                           22
MTA - EXPO LINE - PICO                                                 22
MTA - EXPO LINE - WESTWOOD/RANCHO PARK                                 22
ENERGY PLANT/FACILITY                                                  22
MTA - ORANGE LINE - CANOGA                                             21
MTA - GREEN LINE - AVIATION/LAX                                        21
MTA - GOLD LINE - SOTO                                                 21
ABATEMENT LOCATION                                                     20
MTA - PURPLE LINE - WILSHIRE/NORMANDIE                                 20
DAM/RESERVOIR                                                          20
MTA - GOLD LINE - HIGHLAND PARK                                        19
HIGH-RISE BUILDING                                                     19
RETIRED (DUPLICATE) DO NOT USE THIS CODE                               18
MTA - PURPLE LINE - PERSHING SQUARE                                    18
MTA - BLUE LINE - SAN PEDRO                                            18
OTHER INTERSTATE, CHARTER BUS                                          17
MTA - ORANGE LINE - BALBOA                                             16
DRIVE THRU BANKING (WINDOW)*                                           16
METHADONE CLINIC                                                       16
TRASH CAN/TRASH DUMPSTER                                               15
MTA - GOLD LINE - LINCOLN/CYPRESS                                      15
MTA - BLUE LINE - VERNON                                               14
MTA - BLUE LINE - GRAND/LATTC                                          14
MTA - GOLD LINE - CHINATOWN                                            13
CHEMICAL STORAGE/MANUFACTURING PLANT                                   13
MTA - ORANGE LINE - RESEDA                                             12
CULTURAL SIGNIFICANCE/MONUMENT                                         12
MTA - PURPLE LINE - 7TH AND METRO CENTER                               11
MTA - GOLD LINE - SOUTHWEST MUSEUM                                     11
MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR                         11
REDLINE (SUBWAY TRAIN)                                                 10
ESCALATOR*                                                             10
MUSCLE BEACH                                                            9
MTA - ORANGE LINE - CHATSWORTH                                          9
MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT                            9
MTA - GOLD LINE - INDIANA                                               8
MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK                             8
MTA - GOLD LINE - HERITAGE SQ                                           8
MTA - GOLD LINE - PICO/ALISO                                            8
HORSE RACING/SANTA ANITA PARK*                                          7
MTA - SILVER LINE - HARBOR FWY                                          7
MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK                             6
SEWAGE FACILITY/PIPE                                                    6
BLUE LINE (ABOVE GROUND SURFACE TRAIN)                                  6
ORANGE LINE PARKING LOT                                                 6
REDLINE SUBWAY RAIL CAR (INSIDE TRAIN)                                  6
HOCKEY RINK/ICE HOCKEY                                                  6
REDLINE SUBWAY MEZZANINE                                                5
MTA - ORANGE LINE - SHERMAN WAY                                         5
BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*                               5
MTA - ORANGE LINE - TAMPA                                               4
TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*                                   4
MTA - SILVER LINE - UNION STATION                                       4
SURPLUS SURVIVAL STORE                                                  4
MTA - SILVER LINE - DOWNTOWN STREET STOPS                               4
MTA - SILVER LINE - 37TH ST/USC                                         4
MTA - ORANGE LINE - PIERCE COLLEGE                                      4
MTA - ORANGE LINE - WOODLEY                                             3
MTA - ORANGE LINE - SEPULVEDA                                           3
MTA - ORANGE LINE - DE SOTO                                             3
MTA - SILVER LINE - PACIFIC COAST HWY                                   3
MTA - SILVER LINE - MANCHESTER                                          3
MTA - ORANGE LINE - WOODMAN                                             2
HANDBALL COURTS                                                         2
MTA - SILVER LINE - ROSECRANS                                           2
MTA - SILVER LINE - CAL STATE LA                                        2
DEPT OF DEFENSE FACILITY                                                2
MTA - SILVER LINE - SAN PEDRO STREET STOPS                              2
MTA - ORANGE LINE - LAUREL CANYON                                       2
MTA - SILVER LINE - SLAUSON                                             2
HARBOR FRWY STATION (NOT LINE SPECIFIC)                                 2
TACTICAL SIGNIFICANCE                                                   1
MTA - ORANGE LINE - ROSCOE                                              1
MTA - ORANGE LINE - NORDHOFF                                            1
NUCLEAR FACILITY                                                        1
GREEN LINE (I-105 FWY LEVEL TRAIN)                                      1
REDLINE SUBWAY TUNNEL                                                   1
MTA - ORANGE LINE - WARNER CTR                                          1
MTA - ORANGE LINE - VALLEY COLLEGE                                      1
Name: Premise Description, dtype: int64

In [39]:
df['Premise Code'] = np.where(df['Premise Description']== 'UNKNOWN', 0.0, df['Premise Code'])

In [40]:
df.columns

Index(['DR Number', 'Time Occurred', 'Area ID', 'Area Name',
       'Reporting District', 'Crime Code', 'Crime Code Description',
       'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code',
       'Premise Description', 'Status Code', 'Status Description', 'Address',
       'Location '],
      dtype='object')

In [41]:
# removing whitespace from column name
df = df.rename(columns={'Location ': 'Location'})

In [42]:
# dictionary_maker('Premise Code', 'Premise Description')

In [43]:
df.columns

Index(['DR Number', 'Time Occurred', 'Area ID', 'Area Name',
       'Reporting District', 'Crime Code', 'Crime Code Description',
       'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code',
       'Premise Description', 'Status Code', 'Status Description', 'Address',
       'Location'],
      dtype='object')

####  Location Column Cleaning

In [44]:
# pulling out whole latitude dict
df['latitude'] = df['Location'].str.extract('(\'latitude\'\:\s\'\-?\d+\.?\d+\')', expand=False).str.strip()
# pulling out only coordinate
df['latitude'] = df['latitude'].str.extract('(-?\d+\.?\d+)', expand=False).str.strip()

In [45]:
# pulling out whole latitude dict
df['longitude'] = df['Location'].str.extract('(\'longitude\'\:\s\'\-?\d+\.?\d+\')', expand=False).str.strip()
# pulling out only coordinate
df['longitude'] = df['longitude'].str.extract('(-?\d+\.?\d+)', expand=False).str.strip()

In [46]:
# dropping description columns and features not relevant to modeling
cleaned_features=[ 'Area ID', 
                  'Reporting District', 
                  'Crime Code', 
                  'Victim Age',
                  'Victim Sex', 
                  'Victim Descent', 
                  'Premise Code',
                  'Status Code',
                  'latitude', 'longitude']

## Pickling final cleaned df

In [47]:
cleaned_df = df[cleaned_features]

In [48]:
cleaned_df.to_pickle("data/pickled/cleaned_df.pkl")

### To load pickled dataframe
name_for_the_df = pd.read_pickle('data/pickled/cleaned_df.pkl')

Essentially the variables can be grouped to 
* When the crime occurred - given by date and time
* When the crime was reported - Date
* what was the crime - crime code and crime description
* Who was the victim - Victim sex, age and descent
* What weapon was involved - weapon code and description
* Where the crime took place - given by location, address, cross street, premise code and description