In [11]:
import os
import sys
import pandas as pd

In [12]:
module_path = os.path.abspath(os.path.join(os.pardir,os.pardir,'src'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [14]:
from mods import dataloading as dl

In [15]:
dl.pullkagglezip()

['data/extracted/MO_CODES_Numerical_20180627.pdf',
 'data/extracted/UCR-COMPSTAT062618.pdf',
 'data/extracted/arrest-data-from-2010-to-present.csv',
 'data/extracted/crime-data-from-2010-to-present.csv',
 'data/extracted/socrata_metadata_arrest-data-from-2010-to-present.json',
 'data/extracted/socrata_metadata_crime-data-from-2010-to-present.json',
 'data/extracted/ucr_handbook_2013.pdf']

In [16]:
df = pd.read_csv('data/extracted/crime-data-from-2010-to-present.csv')

In [17]:
df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."