In [4]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 50
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn

In [5]:
df = pd.read_csv('data/extracted/crime-data-from-2010-to-present.csv')

In [6]:
# removing empty time stamp from Date Reported and Date Ocurred
df["Date Reported"] = df["Date Reported"].str.replace('T00:00:00', '')
df["Date Occurred"] = df["Date Occurred"].str.replace('T00:00:00', '')

In [ ]:
# df['Date Occurred'] = pd.to_datetime(df['Date Occurred'], format= '%Y-%m-%d')

In [ ]:
# df = df.set_index('Date Occurred').sort_index()

In [9]:
s = pd.to_datetime(df['Date Occurred'], format= '%Y-%m-%d')
df = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
print (df)

     Date Occurred  count
0       2010-01-01   2222
1       2010-01-02    533
2       2010-01-03    539
3       2010-01-04    558
4       2010-01-05    547
...            ...    ...
3455    2019-06-18    497
3456    2019-06-19    534
3457    2019-06-20    459
3458    2019-06-21    505
3459    2019-06-22    498

[3460 rows x 2 columns]

In [10]:
df.set_index('Date Occurred', inplace=True)

In [15]:
df = df['2010-01-01':'2018-12-31']

In [25]:
year_groups = df.groupby(pd.Grouper(freq ='A'))

In [27]:
# Create a new DataFrame and store yearly values in columns 
crime_annual = pd.DataFrame()

for yr, group in year_groups:
    crime_annual[yr.year] = group.values.ravel()
    
# Plot the yearly groups as subplots
crime_annual.plot(figsize = (13,8), subplots=True, legend=True);

ValueError: Length of values does not match length of index

## Cleaned_df

In [40]:
clean_df = pd.read_pickle('data/pickled/cleaned_df.pkl')

In [41]:
clean_df.head()

,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Status Code,Status Description,latitude,longitude
Date Occurred,,,,,,,,,,,,,,,
2010-01-01,1117,21,Topanga,2156,354,THEFT OF IDENTITY,21,M,H,404.0,DEPARTMENT STORE,IC,Invest Cont,34.1875,-118.603
2010-01-01,2130,5,Harbor,563,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,X,X,104.0,DRIVEWAY,IC,Invest Cont,33.737,-118.2967
2010-01-01,1600,5,Harbor,519,510,VEHICLE - STOLEN,0,X,X,101.0,STREET,IC,Invest Cont,33.7926,-118.2468
2010-01-01,1800,5,Harbor,506,330,BURGLARY FROM VEHICLE,49,M,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,33.8325,-118.3039
2010-01-01,1425,5,Harbor,503,624,BATTERY - SIMPLE ASSAULT,52,F,H,101.0,STREET,AO,Adult Other,33.7909,-118.296

In [42]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1993259 entries, 2010-01-01 to 2019-06-22
Data columns (total 15 columns):
Time Occurred             int64
Area ID                   int64
Area Name                 object
Reporting District        int64
Crime Code                int64
Crime Code Description    object
Victim Age                int64
Victim Sex                object
Victim Descent            object
Premise Code              float64
Premise Description       object
Status Code               object
Status Description        object
latitude                  object
longitude                 object
dtypes: float64(1), int64(5), object(9)
memory usage: 243.3+ MB

In [43]:
# clean_df.set_index('Time Occurred').sort_index()

In [ ]:
s = pd.to_datetime(clean_df['Time Occurred'], format= '%Y-%m-%d')
df = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
print (df)